@import url('https://fonts.googleapis.com/css?family=Heebo:400,500');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  cursor: default;
  height: 100%;
  width: 100%;
}

#root {
  position: relative;
  display: block;
  height: 100%;
}

.main-container {
  position: relative;
  display: block;
  height: 100%;
  background: #F9F0E9;
}

.product-wrap,
.filter {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 70vw;
  max-width: 860px;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.product {
  display: block;
  text-transform: capitalize;
}

.product_block {
    position: flex;
    flex-direction: column;
    width: 35%;
    margin: 0 auto;
    text-align: left;
  }

.product_img {
    position: relative;
    width: 100%;
    max-width: 200px;
    height: auto;
  }